<main>
<section class="flex-container">
<div class="title">
    <img src="assets/images/CClogo.png" alt="logo that says title of website cocktial chronicles. is vaguely western themed">
</div>

<div class="description text">
    <p>I would like to give thanks to TheCocktailDB for letting me use their api for my portfolio project. Their website can be found at <a href="https://www.thecocktaildb.com/" target="blank">https://www.thecocktaildb.com/</a></p>
</div>

<div class="text">
    <p>Search by name or ingredient! For more information click on the desired cocktail!</p>
</div>
</section>
</main>
